### Emacs ###
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# network security
/network-security.data

# lsp-mode
/.lsp-session-v1

# Magit-transient
/transient/history.el

# For my Emacs setup with package leaf; custom UI expr is dumped and ignored
/custom-dump.el

# Cache (introduced for lsp-pyright)
/.cache

# Cache for org-mode
/bookmarks